<!DOCTYPE HTML>
<html>
<head>
    <title>{% block title %}{% end %} : seahorse v0.4-dev</title>
    <title>{% block title %}{% end %}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Seahorse asynchronous web server">
    <meta name="author" content="Glen Baker">
    <link rel="shortcut icon" type="image/png" href="{{ static_url('favicon.png') }}"/>

    <link rel="stylesheet" href="{{ static_url('css/base.css') }}">

    {% block extra_head %}{% end %}
</head>
<body>
    {% block content %}{% end %}

    <footer>
        <div>
            <p>&copy; 2015 Seahorse created by Glen Baker.</p>
        </div>
        <div>
            <div>
                <h2>Seahorse is built with</h2>
                <ul>
                    <li>Tornado</li>
                    <li>RethinkDB</li>
                    <li>React.js</li>
                    <li>jQuery</li>
                </ul>
            </div>
        </div>
    </footer>
    <script type="text/javascript" src="{{ static_url('bower_components/jquery/dist/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ static_url('bower_components/react/react.js') }}"></script>
    <script src="{{ static_url('js/get_cookie.js') }}"></script>
    {% block extra_js %}{% end %}
</body>
</html>