<form action="/change/password/" method="post" id="change_password_form">
    {% module xsrf_form_html() %}
    <fieldset>
        <label for="old_password">Current Password</label>
        <input id="old_password" name="old_password" type="password" value="">
    </fieldset>

    <fieldset>
        <label for="new_password">New Password</label>
        <input id="new_password" name="new_password" type="password" value="">
    </fieldset>

    <fieldset>
        <label for="new_password1">New Password (Again)</label>
        <input id="new_password1" name="new_password1" type="password" value="">
    </fieldset>

    <fieldset>
        <span class="error">{{ error }}</span>
    </fieldset>

    <div id="form_btn">
        <input id="change-password-btn" type="submit" value="Change Password" tabindex="3">
    </div>
</form>