<form action="/register/" method="post" id="login_form">
    {% module xsrf_form_html() %}
    <fieldset>
        <label for="email">Email</label>
        <input class="form-control" id="email" name="email" type="text" value="">
    </fieldset>

    <fieldset>
        <label for="password">Password</label>
        <input class="form-control" id="password" name="password" type="password" value="">
    </fieldset>

    <fieldset>
        <span class="error">{{ error }}</span>
    </fieldset>

    <div id="form_btn">
        <input id="signin-btn" class="btn btn-primary" type="submit" value="Register" tabindex="3">
    </div>
</form>