{% extends '../templates/base.html' %}

{% block title %}Home{% end %}

{% block extra_head %}

{% end %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1-5"></div>
    <div class="pure-u-3-5">
    <div id='content'></div>

    <a href="/logout/" class='pull-right'>logout</a>
    </div>
  </div>
{% end %}


{% block extra_js %}
  <script src="{{ static_url('js/datasync.js') }}"></script>

  <script src="{{ static_url('js/get_cookie.js') }}"></script>

  <script src="{{ static_url('js/seahorse.js') }}"></script>
{% end %}