{% extends '../templates/base.html' %}

{% block title %}{% end %}

{% block extra_head %}

{% end %}

{% block content %}
  <div class="col-xs-offset-2 col-xs-7">
    <h6>seahorse v0.2-dev</h6>

    <div id='content'></div>
  </div>

  <div class="col-xs-3">
    <div class="pull-right">
      Welcome, {{ user }}!
    </div>
    <br>
    <a href="/logout/" class='pull-right'>logout</a> <br>
  </div>
{% end %}


{% block extra_js %}
  <script src='{{ static_url('js/datasync.js') }}'></script>

  <script src='{{ static_url('js/get_cookie.js') }}'></script>

  <script>

  </script>
{% end %}