{% extends '../templates/base.html' %}

{% block title %}Login{% end %}

{% block content %}
    <div class="col-g">
        <div class="pure-u-1-5"></div>
        <div class="pure-u-3-5">
            <h1>[login]</h1>
            <p>All of ye' brave seadogs must await the rising tide.</p>
            {% if user == None %}
                {% include 'auth/_login_form.html' %}
            {% else %}
                <h4>You are already logged in, {{ user }}!</h4>
                    
                <h4>Do you want to <a href="/logout/">logout</a> or go <a href="/">home</a>?</h4>
            {% end %}
        </div>
    </div>
{% end %}


{% block extra_js %}
    <script>
        $(document).ready(function(){
            $('#email').focus();
        });
    </script>
{% end %}